body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  /* This makes it so stuff won't be selectable
   * Might need to update it in the future...
   */
  -webkit-user-select: none;
  user-select: none;
}

@media (min-width: 500px) {
  #app {
    display: grid;
    height: 100vh;
    grid-template-columns: 135px 1fr 135px;
    grid-template-rows: 44px 1fr;
    overflow: hidden;
  }
  #view-and-content {
    grid-row: 2;
    grid-column: 1 / 4;
  }
  #menu-button {
    width: 30px;
    color: #888;
    margin-left: 1px;
    padding: 0px;
    float: right;
  }
  #menu-button:hover {
    color: #444;
    background-color: lightgray;
  }
  #view-separator {
    background: linear-gradient(
      to right,
      #fff 0%,
      #000 45%,
      #000 55%,
      #fff 100%
    );
    opacity: 0.2;
    transition: opacity 0.2s;
    width: 1px;
  }
  #view-separator:hover {
    opacity: 0.8;
  }
}

@media (max-width: 499px) {
  #root {
    display: grid;
    height: 100vh;
    grid-template-columns: 0px 135px auto 135px;
    grid-template-rows: 250px auto 1fr;
    overflow: hidden;
  }
  #view-and-content {
    visibility: collapse;
  }
  #top-row {
    grid-column: 1 / 5;
    grid-row: 1;
    background-color: rgba(0, 0, 0, 0.04);
  }
}
