@media (min-width: 500px) {
  .current-view {
    grid-row: 1;
    grid-column: 1;
    padding: 0px;
    overflow: auto;
    position: relative;
  }
  #cur-view-container {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

@media (max-width: 499px) {
  .current-view {
    grid-row: 3 / 5;
    grid-column: 2 / 5;
    padding: 0px;
    overflow: auto;
    position: relative;
  }
}
